body {
  background-color: #e1faf7;
  color: #1f1d1d;
  font-family: "Lucida Sans Unicode", "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  text-align: center;

}

.green-border {
  border: 2px dashed #47cebe;
  border-radius: 18px;
}

img {
  block-size: 8em;
  border-radius: 50%;
  box-shadow: 0 0 20px 5px rgba(7, 212, 189, 0.5);
  margin-top: 1.2em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 33px;
  background-color: #ffffff;
  color: #04796b;
  line-height: 1.6em;
  font-family: "Indie Flower", cursive;
  padding: 10px;
}

h2 {
  font-size: 21px;
  background-color: #ffffff;
  color: #04796b;
  line-height: 1.4em;
  font-family: "Indie Flower", cursive;
  padding: 5px;
  margin: 5px;
}

.hallo2 {
  font-size: 30px;
}

header {
  margin: 30px 30px 10px 30px; 
}

nav {
  margin: 20px 0px 20px 0px; 
  padding: 20px;
}

.green-border2 {
  border: 2px dashed #47cebe;
  border-radius: 100%;
  padding: 35px;
}

.lijstnav {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}

main {
  font-size: 15px;
  background-color: #ffffff;
  border-radius: 18px;
  margin: 0px 40px;
  padding: 14px;
}

form {
  width: 100%;
}

ul {
  padding: 0px 10px 0px 35px;
}

footer {
   margin: 10px 10px 20px 10px;
   padding: 10px;
}

@media (min-width: 1024px){
  body { 
    background-color: #d6f8b7;
    color: purple;
    font-size: 12px;
    line-height: 25px;
  }
}